@{
    ViewData["Title"] = "All US";
}
@model IEnumerable<NewEmployeeDBFinal.Models.UsModel>
@{
    Layout = "_Layout";
}
<link href="css/site.css" rel="stylesheet">
<style>
    .green {
        color: green;
        font-weight: bold;
    }

    .red {
        color: red;
        font-weight: bold;
    }

    .orange {
        color: orange;
        font-weight: bold;
    }
</style>
@* <a asp-controller="Home" asp-action="OpenForPrinting">Open For Printing</a> *@
<div class="row" style="display: block;" >
    <form method="post" asp-controller="Home" asp-action="UploadFile" enctype="multipart/form-data" style="display: inline-block; margin-left: 27px; " class="col-sm-12">
        <h6> Upload file from Azure</h6>
        <div class="row">
            <div class="col-4 form-group"><input type="file" class="form-control" name="file"/></div>
            <div class="col-2 form-group"><button type="submit" class="btn btn-primary">Update US list</button></div>
            <div class="col-6" style="text-align: center"><a asp-controller="Home" asp-action="OpenForPrinting">Open For Printing</a></div>
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th class="coln">
                @Html.DisplayNameFor(model => model.Feature)
            </th>
            <th class="coln">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th class="col1">
                @Html.DisplayNameFor(model => model.UserStoryTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th class="coln">
                @Html.DisplayNameFor(model => model.Tags)
            </th>
            <th class="coln">
                @Html.DisplayNameFor(model => model.Bugs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Feature > 0)
                    {
                        <a href="https://dev.azure.com/amtrust/Amtrust/_workitems/edit/ @Html.DisplayFor(modelItem => item.Feature)"> @Html.DisplayFor(modelItem => item.Feature)</a>
                        } else
                        {
                            <b>-</b>
                        }
                </td>
                <td>
                    <a href="https://dev.azure.com/amtrust/Amtrust/_workitems/edit/ @Html.DisplayFor(modelItem => item.Id)">@Html.DisplayFor(modelItem => item.Id)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserStoryTitle)
                </td>
                <td class="@Html.DisplayFor(modelItem => item.Color)">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignedTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tags)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bugs)
                </td>
                <td>
                    <a asp-controller="Home" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                <td>
                    <a asp-controller="Home" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
                </tr>
        }
    </tbody>
</table>